p {
    color: blue;
    font-size: 20px;
}

body {
    text-align: center;
}

#titulo {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.texto {
    text-align: justify;
    font-size: 20px;
    color: gray;
}