p {
    color: blue;
    font-size: 20px;
}

body {
    text-align: left;
    
}

.cabecalho{
    padding: 20px;
    background-color: #582f0e;
    border-bottom: 4px solid #b6ad90;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.cabecalho-imagem{
    width: 5%;
    height: 5%;
}

.cabecalho-titulo{
    padding-left: 16px;
}

#titulo {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;    
}

.texto {
    text-align: justify;
    font-size: 20px;
    color: gray;
}

#banner{
    width: 50%;
    margin: 24px;
    padding: 24px;
}

.titulo-principal{
    background-image: linear-gradient(#432371,#faae7b);
    color: white;
}
